<div id="container" class="container mb-5">

  <div class="row my-2 mx-0">
    <h4 class="text-left col-8 offset-1 mb-0 p-0"><%= @group.name %></h4>
    <%= link_to "チャットへ", group_chat_path(@group.id), class: "col-2 btn btn-outline-secondary px-0" %>
  </div>


    <% if @other_users.present? %>
      <%= form_with model: @user, url: invitation_group_path(@group), class: "row px-3", method: :post, local: true do |f| %>
        <%= f.collection_select :user_id, @other_users, :id, :name, {include_blank: "選択"}, { class: "col-6 offset-1 text-center"} %>
        <%= f.submit "招待する", class: "btn btn-outline-secondary btn-sm col-4" %>
      <% end %>
    <% end %>



  <div class="button-container-calendar row day-box">
    <div class="col-1 p-0 allow-box">
      <input type="button" value="<" id="day-previous" class="text-center btn btn-outline-dark allow">
    </div>
    <div id="today-box" class="my-3 mx-0 text-cente col-10 pt-3"></div>
    <div class="col-1 p-0 text-right allow-box">
      <input type="button" value=">" id="day-next" class="text-center btn btn-outline-dark allow">
    </div>
  </div>

  <%= link_to "新規作成",new_group_task_path(group_id: @group.id), class: "btn btn-outline-secondary my-3 col-10 offset-1" %>

  <div class="button-container-calendar row mb-3 day-box">
    <div class="col-1 p-0">
      <input type="button" value="<" id="previous" class="text-center btn btn-outline-dark allow">
    </div>
    <h4 id="monthAndYear" class="col-10 text-center my-3 mx-0 "></h4>
    <div class="col-1 p-0 text-right">
      <input type="button" value=">" id="next" class="text-center btn btn-outline-dark allow">
    </div>
  </div>

  <div class="footer-container-calendar text-center">
    <label for="month">日付指定：</label>
    <select id="month" onchange="jump()">
      <option value=0>1月</option>
      <option value=1>2月</option>
      <option value=2>3月</option>
      <option value=3>4月</option>
      <option value=4>5月</option>
      <option value=5>6月</option>
      <option value=6>7月</option>
      <option value=7>8月</option>
      <option value=8>9月</option>
      <option value=9>10月</option>
      <option value=10>11月</option>
      <option value=11>12月</option>
    </select>
    <select id="year" onchange="jump()"></select>
  </div>

  <div class="calendar-container">
    <div class="mv-container">
      <table cellpadding="0" cellspacing="0" class="mv-daynames-table row-10" id="myDaynamesTable">
      </table>
      <div class="mv-event-container" id="mvEventContainer2"></div>
    </div>
  </div>
</div>


<% if current_user.calendar_status %>

  <% task = [] %>
  <% tasks = [] %>
  <% @tasks.each do |t| %>
    <% task << t.start_time.year %>   <!--0-->
    <% task << t.start_time.month %>  <!--1-->
    <% task << t.start_time.day %>    <!--2-->
    <% task << t.start_time.wday %>   <!--3-->
    <% task << t.end_time.year %>     <!--4-->
    <% task << t.end_time.month %>    <!--5-->
    <% task << t.end_time.day %>      <!--6-->
    <% task << t.end_time.wday %>     <!--7-->
    <% task_span = t.end_time.yday - t.start_time.yday %>
    <% task << task_span %>           <!--8-->
    <% task << t.title %>             <!--9-->
    <% task << t.tag.color %>         <!--10-->
    <% task << t.tag.name %>          <!--11-->
    <% task << t.content %>           <!--12-->
    <% task << t.id %>                <!--13-->
    <% task << t.task_day_count %>    <!--14-->
    <% if t.start_time.wday == 0 %>   <!--15-->
      <% task << t.week_count + 1 %>
    <% else %>
      <% task << t.week_count %>
    <% end %>
    <% if t.end_time.wday == 0 %>
      <% task << t.week_of_month(t.end_time) + 1%> <!--16-->
    <% else %>
      <% task << t.week_of_month(t.end_time) %>
    <% end %>
    <% tasks << task %>
    <% task = [] %>
  <% end %>

<% else %>

  <% task = [] %>
  <% tasks = [] %>
  <% @tasks.each do |t| %>
    <% task << t.start_time.year %>   <!--0-->
    <% task << t.start_time.month %>  <!--1-->
    <% task << t.start_time.day %>    <!--2-->
    <% if t.start_time.wday == 0 %>   <!--3-->
      <% task << 6 %>
    <% else %>
      <% task << t.start_time.wday - 1 %>
    <% end %>
    <% task << t.end_time.year %>     <!--4-->
    <% task << t.end_time.month %>    <!--5-->
    <% task << t.end_time.day %>      <!--6-->
    <% if t.end_time.wday == 0 %>     <!--7-->
      <% task << 6 %>
    <% else %>
      <% task << t.end_time.wday - 1 %>
    <% end %>
    <% task_span = t.end_time.yday - t.start_time.yday %>
    <% task << task_span %>           <!--8-->
    <% task << t.title %>             <!--9-->
    <% task << t.tag.color %>         <!--10-->
    <% task << t.tag.name %>          <!--11-->
    <% task << t.content %>           <!--12-->
    <% task << t.id %>                <!--13-->
    <% task << t.task_day_count %>    <!--14-->
    <% task << t.week_count %>        <!--15-->
    <% task << t.week_of_month(t.end_time) %><!--16-->
    <% tasks << task %>
    <% task = [] %>
  <% end %>

<% end %>

<% user_color = current_user.color %>
<% user_calendar_status = current_user.calendar_status %>

<div id="tasks" data-task-status="<%= tasks.to_json %>"></div>
<div id="user_color" data-user-status="<%= user_color.to_json %>"></div>
<div id="user_calendar_status" data-calendar-status="<%= user_calendar_status.to_json %>"></div>

<%= javascript_pack_tag 'today_group_task' %>
<%= javascript_pack_tag 'calendar' %>