<div class="container text-center">
  <h4>ユーザー一覧</h4>

  <%= form_with url: admin_users_search_path, method: :get, class: "my-4" do |f| %>
    <div class="form-group row">
      <%= f.text_field :word, class: "form-control col-3 ml-auto mr-1" %>
      <%= f.submit '検索', class: "btn btn-outline-secondary btn-sm mr-auto" %>
    </div>
  <% end %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>ユーザーネーム</th>
        <th>ユーザーステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
        <% unless user.name == "guestuser" %>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td>
            <% if user.status %>
              退会
            <% else %>
              有効
            <% end %>
          </td>
          <td><%= link_to "詳細", admin_user_path(user.id) %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>