<!DOCTYPE html>
<html>
  <head>
    <title>Canvas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow mb-5" <% if user_signed_in? %>style="background-color: <%= current_user.color %>;"<% end %>>
      <% if admin_signed_in? %>
        <%= render "layouts/admin" %>
      <% else %>
        <%= render "layouts/header" %>
      <% end %>
    </header>
    <div class="flash-message text-center">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <p id="confirm"><%= flash[:confirm] %></p>
      <p id="danger"><%= flash[:danger] %></p>
    </div>
    <%= yield %>
  </body>
</html>
